// /* FONT-WEIGHTS */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// COLORS
$color-primary      :#00AAB7;
$color-secondary    :#a50034;

$color-negative     :#FF3723;
$color-positive     :#76892d;
// $color-neutral      :#21a9aa;

$color-default      :#222;
$color-gray-1       :#333;
$color-gray-2       :#666;
$color-gray-3       :#767676;
$color-white        :#fff;
$color-green        :#165C61;
$color-pink         :#F65F8D;
$color-red          :#C30036;

$color-act-1        :#FF5B5B;
$color-act-2        :#FE9F3F;
$color-act-3        :#50DC75;
$color-act-4        :#9650DC;

$color-disable      :#959595;
$color-border       :#ddd;

$color-bg-1         :#AAA;
$color-bg-2         :#CCC;
$color-bg-3         :#DDD;
$color-bg-4         :#EEE;
$color-bg-5         :#F5F5F5;
$color-bg-6         :#EBF3F5;
$color-bg-7         :#FFE6E6;


// font size
$font-x-small       :12px;
$font-small         :14px;
$font-medium        :16px;
$font-large         :18px;
$font-large-1       :20px;
$font-large-2       :24px;
$font-large-3       :28px;
$font-large-4       :32px;
$font-large-5       :40px;
$font-large-6       :48px;